.wrapp:hover {
    color: rgb(24, 10, 76);
}

.text {
    margin-bottom: 10px;
}

.input {
    width: 360px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 40px;
}

.input:hover {
    border-color: rgb(24, 10, 76);
}